### Functions in Python

#### Function

In [2]:
# First Function example:

def add(a):
    b = a + 1
    print("If you add one to", a, ": ", b)
    return(b)

In [4]:
add(3)

If you add one to 3 :  4

4

In [5]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)

In [6]:
def Mult(a, b):
    c = a * b
    return(c)

result = Mult(2,3)
print(result)

6

In [7]:
# Multiply two floats

Mult(10.1, 2.3)

23.229999999999997

In [9]:
# Multiply two different type values together

Mult(2, "Niranjan ")

'Niranjan Niranjan '

### Variables

A variables that is declared outside the function are called the global variable and its value is accessible and modifiable throughout the program

A variable that is declared inside the function is called a local variable.

In [12]:
# Function Definition - Declaring a local variable

def square(a):
    # Local variable b
    b = 1
    c = a * a + b
    return(c)

In [15]:
# Initialize global variable

x = 3
y = square(x)
y

10

In [16]:
# Directly enter value as a parameter

square(2)

5

If there is no return statement the function returns None.

In [25]:
def NA():
    print("Niranjan Appaji")
    
def NA1():
    print("Niranjan Appaji")
    return(None)

In [21]:
NA()

Niranjan Appaji

In [26]:
NA1()

Niranjan Appaji

In [28]:
print(NA())
print(NA1())

Niranjan Appaji
None
Niranjan Appaji
None

In [30]:
def combine_string(a, b):
    return( a + b)

combine_string("This is ", "Niranjan Appaji")

'This is Niranjan Appaji'

#### Functions make things Simple

##### Block1:

In [31]:
a1 = 3
b1 = 4
c1 = a1 + b1 + 2 * a1 * b1 - 1
if c1 < 0:
    c1 = 0
else:
    c1 = 5

c1

5

In [33]:
a1 = 1
b1 = 2
c1 = a1 + b1 + 2 * a1 * b1 - 1
if c1 < 0:
    c1 = 0
else:
    c1 = 5

c1

5

In [35]:
def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if c < 0:
        c = 0
    else:
        c = 5
    return(c)

In [36]:
Equation(3,4)

5

### Pre-defined Functions

#### The print() function

In [39]:
album_ratings = [10, 8.5, 7.8, 9, 9.2, 6.8, 9.0, 9.5]
print(album_ratings)

[10, 8.5, 7.8, 9, 9.2, 6.8, 9.0, 9.5]

In [41]:
# use sum() to add every element in the list or a tuple

sum(album_ratings)

69.8

In [42]:
# use len() to return the length of a list or a tuple

len(album_ratings)

8

#### Using if/else statements and loops in functions

In [45]:
def album_type(artist, album, yr_released):
    
    print(artist, album, yr_released)
    if yr_released > 1980:
        print("Modern album")
        return("Modern")
    else:
        print("Old school")
        print("Old")
        
x = album_type("Michael Jackson", "Thriller", 1988)
print(x)

Michael Jackson Thriller 1988
Modern album
Modern

In [48]:
# Print the list using for loop

def print_list(list1):
    for value in list1:
        print(value)

In [50]:
print_list(["Niranjan Appaji", '18-May-1991', 78, 6.1])

Niranjan Appaji
18-May-1991
78
6.1

#### Setting default argument values in your custom functions

In [51]:
def albumrating(rating=5):
    if rating < 7:
        print("This album is average, rating is: ", rating)
    else:
        print("This album is good, rating is: ", rating)

In [52]:
albumrating()

This album is average, rating is:  5

In [53]:
albumrating(8)

This album is good, rating is:  8

#### Global Variables

In [57]:
artist = "Michael Jackson"

def artistname(artist):
    name = artist
    print(artist, " is an artist")
    
#artistname(artist)
artistname(name)

NameError: name 'name' is not defined

##### It throws error if we pass name as a parameter. NameError: NameError: name 'name' is not defined

In [65]:
artist = "Michael Jackson"

def artistname(artist):
    global name
    name = "Niranjan Appaji"
    print(artist, " is an artist")

artistname(name)

Niranjan Appaji  is an artist

#### Scope of a Variable

In [72]:
## Example of a global variable

band = "AC/DC"

def bandrating(name):
    if name == band:
        return(10)
    else:
        return(7)
    
print("AC/DC's rating is: ", bandrating(band) )
print("Band's rating is: ", bandrating("Thriller") )
print("My favourite band is: ", band)

AC/DC's rating is:  10
Band's rating is:  7
My favourite band is:  AC/DC

In [80]:
## Example of local Variable

def bandrating(name):
    global band
    band = "AC/DC"
    if name == band:
        return(10)
    else:
        return(7)

In [81]:
print("AC/DC's rating is: ", bandrating(band1) )
print("Band's rating is: ", bandrating("Thriller") )
print("My favourite band is: ", band1)

AC/DC's rating is:  10
Band's rating is:  7
My favourite band is:  AC/DC

#### Collections and Functions

When the number of arguments are unknown for a function, they can all be packed into a tuple as shown:

In [85]:
def printAll(*args):
    print("total number of arguments: ", len(args))
    for arg in args:
        print(arg)
    
printAll("Sachin", "Kohli", "Sehwag")
printAll("Kumble", "Dravid", "Prasad", "Joshi")

total number of arguments:  3
Sachin
Kohli
Sehwag
total number of arguments:  4
Kumble
Dravid
Prasad
Joshi

Similarly the arguments can also be packed into a dictionary as shown:

In [90]:
def printDictionary(**args):
    for arg in args:
        print(arg + " : " + args[arg] )

In [91]:
printDictionary(country = 'Canada', Province = "Ontario", City = "Toronto")

country : Canada
Province : Ontario
City : Toronto