### Extracting Stock Data using Web scraping

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

### Using Web Scraping to extract stock data

Use the requests library to download the webpage https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true. Save the text of the response as a variable named html_data.

In [4]:
url = "https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true"
url

'https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true'

In [5]:
r = requests.get(url)

In [6]:
r

In [9]:
header = r.headers

In [10]:
header['content-type']

'text/html; charset=utf-8'

In [15]:
html_data = r.text
#html_data

Parse the html data using beautiful_soup.

In [14]:
soup = BeautifulSoup(html_data, 'html5lib')
#soup

In [17]:
#print(soup.prettify())

Question 1 what is the content of the title attribute:

In [20]:
title_obj = soup.title
print(title_obj)

#type(title_obj)

<title>Amazon.com, Inc. (AMZN) Stock Historical Prices &amp; Data - Yahoo Finance</title>

Using beautiful soup extract the table with historical share prices and store it into a dataframe named amazon_data. The dataframe should have columns Date, Open, High, Low, Close, Adj Close, and Volume. Fill in each variable with the correct data from the list col.

Hint: Print the col list to see what data to use

In [34]:
amazon_data = pd.DataFrame(columns=['Date', 'Open', 'High', 'Low','Close', 'Adj Close', 'Volume'])

amazon_data

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [35]:
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    vol = col[6].text
    
    amazon_data = amazon_data.append({"Date":date, "Open":open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":vol}, ignore_index = True)

Print out the first five rows of the amazon_data dataframe you created.

In [36]:
amazon_data.head()

           Date      Open      High       Low     Close Adj Close       Volume
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20  3,206.20   71,529,900
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93  3,256.93   77,567,800
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04  3,168.04   90,810,500
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  3,036.15  116,242,300
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  3,148.73  115,943,500

Question 2 What is the name of the columns of the dataframe

In [38]:
for col in amazon_data.columns:
    print(col)

Date
Open
High
Low
Close
Adj Close
Volume

Question 3 What is the Open of Jun 01, 2019 of the dataframe?

In [46]:
# Different ways of filtering Data
# Method 1

amazon_data[(amazon_data.Date == 'Jun 01, 2019')]

            Date      Open      High       Low     Close Adj Close      Volume
19  Jun 01, 2019  1,760.01  1,935.20  1,672.00  1,893.63  1,893.63  74,746,500

In [47]:
# Method 2

amazon_data.query('Date == "Jun 01, 2019"')

            Date      Open      High       Low     Close Adj Close      Volume
19  Jun 01, 2019  1,760.01  1,935.20  1,672.00  1,893.63  1,893.63  74,746,500

In [48]:
# Method 3

amazon_data.loc[(amazon_data.Date == "Jun 01, 2019")]

            Date      Open      High       Low     Close Adj Close      Volume
19  Jun 01, 2019  1,760.01  1,935.20  1,672.00  1,893.63  1,893.63  74,746,500

In [54]:
# Method 4

amazon_data[amazon_data.Date.isin(["Jun 01, 2019", "Jan 01, 2021"])]

            Date      Open      High       Low     Close Adj Close      Volume
0   Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20  3,206.20  71,529,900
19  Jun 01, 2019  1,760.01  1,935.20  1,672.00  1,893.63  1,893.63  74,746,500