### Application Programming Interface

#### Pandas is an API

Pandas is actually set of software components, much of which is not written in Python.

In [2]:
import pandas as pd

In [3]:
dict_ = {'a':[1,2,3], 'b':[11,12,13]}

In [4]:
dict_

{'a': [1, 2, 3], 'b': [11, 12, 13]}

When you create a Pandas object with the Dataframe constructor in API lingo, this is an "instance". The data in the dictionary is passed along to the pandas API. You then use the dataframe to communicate with the API.

In [5]:
df = pd.DataFrame(dict_)
df

   a   b
0  1  11
1  2  12
2  3  13

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.head()

   a   b
0  1  11
1  2  12
2  3  13

In [8]:
df.mean()

a     2.0
b    12.0
dtype: float64