# Expression & Variables in Python

Say "Hello" to the world in Python

In [1]:
print("Hello, World!")

Hello, World!

To know the version of python are we using?

In [3]:
import sys
print(sys.version)

3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

Writing Comments in Python

In [4]:
#Practice on writing comments

print("Hello! Python") #This line prints a string

#print(Hi)

Hello! Python

# Types of objects in python

In [7]:
#integer

11

11

In [8]:
#Float

2.14

2.14

In [9]:

#String

"Hello, Python!"

'Hello, Python!'

In [11]:
type(12)

int

In [12]:
type(2.14)

float

In [13]:
type("Hello! Python")

str

In [14]:
type(-1)

int

In [17]:
#System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [16]:
sys.int_info

sys.int_info(bits_per_digit=30, sizeof_digit=4)

Converting from one object type to different object type

In [18]:
type(2)

int

In [19]:
float(2)

2.0

In [20]:
type(float(2))

float

In [21]:
int(1.1)

1

In [22]:
int('1')

1

In [23]:
float('1.2')

1.2

Converting number to strings

In [24]:
str(1)

'1'

In [25]:
str(1.2)

'1.2'


# Boolean Data Type

In [26]:
#Value True

True

True

In [27]:
#Value False

False

False

In [28]:
type(True)

bool

In [29]:
type(False)

bool

In [31]:
#Convert True to int

int(True)

1

In [32]:
#Convert 1 to boolean

bool(1)

True

In [33]:
bool(0)

False

In [34]:
float(True)

1.0

In [35]:
type(6/2)

float

In [36]:
type(6//2)

int

# Expressions and Variables

In [37]:
#Addition Operation Expression

12 + 23 + 45 + 67

147

In [38]:
#Subtraction Operation Expression

50 - 190

-140

In [41]:
# Multiplication Operation Expression

5 * 5

25

In [42]:
# Division Operation Expression

5/5

1.0

In [43]:
# Division Operation Expression

25 / 6

4.166666666666667

In [45]:
# Integer division operation expression

25 // 5

5

In [46]:
# Integer division operation expression

25 // 6

4

Let's write an expression that calculates how many hours there are in 160 minutes:

In [49]:
total_hrs = 160 // 60
total_hrs

2

In [50]:
# Mathematical Expression

30 + 2 * 60

150

In [51]:
(30 + 2) * 60

1920

# Variables

In [59]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [60]:
# Print out the value in variable

x

160

In [61]:
y = x / 60
y

2.6666666666666665

In [62]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

What is the value of x where x = 3 + 2 * 2

In [64]:
x = 3 + 2 * 2
x

7

In [66]:
y = (3 + 2) * 2
y

10

In [68]:
z = x + y
z

17