# String Operations

### Indexing

In [15]:
name = "Niranjan Appaji "

In [2]:
#print the first element in the string

print(name[0])

N

In [3]:
#print the element on index 6 in the string
print(name[6])

a

In [4]:
print(name[13])

j

### Slicing

In [5]:
name[0:4]

'Nira'

In [6]:
name[8:12]

' App'

### Stride

In [8]:
# Get every second element. The element on index 1,3,5...

name[::2]

'Nrna pai'

In [9]:
# Get every second element in the range from index 0 to 4

name[0:5:2]

'Nrn'

### Concatenate Strings

In [13]:
statement = name + " is the best"
statement

'Niranjan Appaji is the best'

In [16]:
# Print the string for 3 times

3 * name

'Niranjan Appaji Niranjan Appaji Niranjan Appaji '

In [18]:
name = "Niranjan Appaji"
name = name + " is the best"
name

'Niranjan Appaji is the best'

### Escape sequences

In [19]:
# New line escape sequence

print("Niranjan Appaji \n is the best")

Niranjan Appaji
 is the best

In [20]:
# Tab escape sequence

print("Niranjan Appaji \t is the best")

Niranjan Appaji 	 is the best

In [21]:
# Include backlash in the string

print("Niranjan Appaji \\ is the best")

Niranjan Appaji \ is the best

In [22]:
# Can also place an "r" before the string to display the backlash

print(r"Niranjan Appaji \ is the best")

Niranjan Appaji \ is the best

### String Operations

In [26]:
# Convert all the characters in the string to upper case

a = "Thriller is the new album"

print("before upper: ", a)

b = a.upper()

print("after upper: ", b)

before upper:  Thriller is the new album
after upper:  THRILLER IS THE NEW ALBUM

In [27]:
# Replace the old substring with the new target substring 

a = "Niranjan is the best"
b = a.replace("Niranjan", "Sachin")
b

'Sachin is the best'

In [28]:
name = "Niranjan Appaji"
name.find('jan')

5

In [29]:
name.find("pa")

11