In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\sspnia\anaconda3\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in c:\users\sspnia\anaconda3\lib\site-packages (0.3.6)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\sspnia\anaconda3\lib\site-packages (from ibm_db_sa) (3.0.4)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\sspnia\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\sspnia\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: prettytable<1 in c:\users\sspnia\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\sspnia\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in c:\users\sspnia\anaconda3\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: ipython>=1.0 in c:\users\sspnia\anaconda3\lib\site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\sspnia\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\sspnia\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\sspnia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: jedi>=0.10 in c:\users\sspnia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: backcall in c:\users\sspnia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\sspnia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\sspnia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: pygments in c:\users\sspnia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\sspnia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\sspnia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: decorator in c:\users\sspnia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\sspnia\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\sspnia\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [3]:
%load_ext sql

In [4]:
%sql ibm_db_sa://mwk25315:rxn2vjqtsr3x7p%2Bk@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB

DB2/LINUXX8664

In [5]:
import pandas
chicago_socioeconomic_data = pandas.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')

In [8]:
chicago_socioeconomic_data.head()

,ca,community_area_name,percent_of_housing_crowded,percent_households_below_poverty,percent_aged_16_unemployed,percent_aged_25_without_high_school_diploma,percent_aged_under_18_or_over_64,per_capita_income_,hardship_index
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [11]:
chicago_socioeconomic_data.shape

(78, 9)

In [13]:
chicago_socioeconomic_data[(chicago_socioeconomic_data.hardship_index>50.0)].shape

(38, 9)

In [14]:
chicago_socioeconomic_data['hardship_index'].max()

98.0

In [23]:
df = chicago_socioeconomic_data

df1 = df[df['hardship_index'] == df['hardship_index'].max()]
df1

,ca,community_area_name,percent_of_housing_crowded,percent_households_below_poverty,percent_aged_16_unemployed,percent_aged_25_without_high_school_diploma,percent_aged_under_18_or_over_64,per_capita_income_,hardship_index
53,54.0,Riverdale,5.8,56.5,34.6,27.5,51.5,8201,98.0

In [30]:
df2 = df[df['per_capita_income_'] > 60000]
df2['community_area_name'].unique()

array(['Lake View', 'Lincoln Park', 'Near North Side', 'Loop'],
      dtype=object)