## Tuples in Python

In [3]:
# Create your first tuple

tuple1 = ("disco", 10, 1.2)
tuple1

('disco', 10, 1.2)

In [4]:
type(tuple1)

tuple

### Indexing

In [8]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [9]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [12]:
# Use the negative index to get the value of the last element

print(tuple1[-1])
print(tuple1[-2])
print(tuple1[-3])

1.2
10
disco

### Concatenate Tuples

In [14]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

### Slicing

In [15]:
tuple2[0:3]

('disco', 10, 1.2)

In [16]:
tuple2[3:5]

('hard rock', 10)

In [17]:
len(tuple2)

5

### Sorting

In [21]:
# A sample tuple

rating = (0,9,6,5,4,7,8,10)

In [22]:
# Sort the tuple

RatingSorted = sorted(rating)
RatingSorted

[0, 4, 5, 6, 7, 8, 9, 10]

### Nested Tuple

In [24]:
# Create a nest tuple

NestedT = (1,2, ("pop", "hard rock"), (3,4), ("disco", (1,2)))
NestedT

(1, 2, ('pop', 'hard rock'), (3, 4), ('disco', (1, 2)))

In [27]:
print("Element 0 of tuple :", NestedT[0] )
print("Element 1 of tuple :", NestedT[1] )
print("Element 2 of tuple :", NestedT[2] )
print("Element 3 of tuple :", NestedT[3] )
print("Element 4 of tuple :", NestedT[4] )

Element 0 of tuple : 1
Element 1 of tuple : 2
Element 2 of tuple : ('pop', 'hard rock')
Element 3 of tuple : (3, 4)
Element 4 of tuple : ('disco', (1, 2))

In [36]:
print("Element 0 of tuple 2:", NestedT[2][0] )
print("Element 1 of tuple 2:", NestedT[2][1] )
print("Element 0 of tuple 3:", NestedT[3][0] )
print("Element 1 of tuple 3:", NestedT[3][1] )
print("Element 0 of tuple 4:", NestedT[4][0] )

Element 0 of tuple 2: pop
Element 1 of tuple 2: hard rock
Element 0 of tuple 3: 3
Element 1 of tuple 3: 4
Element 0 of tuple 4: disco

In [38]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'h'

In [40]:
NestedT[2][1][1]

'a'

In [41]:
NestedT[4][0][0]

'd'

In [42]:
NestedT[4][1][0]

1

In [43]:
NestedT[4][1][1]

2